<!DOCTYPE html>
<html 
    th:replace="~{fragments/layout :: layout (~{::body},'user_create')}">
    <body>
        <h2 th:text="#{titleUser}"></h2>
        <form th:object="${user}" class="form-horizontal" id="add-owner-form" method="post">
            <div class="form-group has-feedback">
                <input
                    th:replace="~{fragments/inputField :: input (#{el}, 'email', 'text')}" />
                <input
                    th:replace="~{fragments/inputField :: input (#{fn}, 'firstName', 'text')}" />
                <input
                    th:replace="~{fragments/inputField :: input (#{ln}, 'lastName', 'text')}" />
                <input
                    th:replace="~{fragments/inputField :: input (#{pw}, 'password', 'password')}" />
                <input
                    th:replace="~{fragments/inputField :: input (#{ac}, 'active', 'text')}" />
                <input
                    th:replace="~{fragments/inputField :: input (#{zc}, 'zipcode', 'text')}" />
                <input
                    th:replace="~{fragments/inputField :: input (#{tf}, 'telephone', 'text')}" />
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button
                        th:with="text=${user['new']} ? #{au} : #{uu}"
                        class="btn btn-default" type="submit" th:text="${text}"></button>
                </div>
            </div>
        </form>
    </body>
</html>
