<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
  
    <h2>Información de Usuario</h2>
  
  
    <table class="table table-striped" th:object="${user}">
      <tr>
        <th>Email</th>
        <td><b th:text="${user.email}"></b></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><b th:text="${user.firstName} + ' ' + ${user.lastName}"></b></td>
      </tr>
      <tr>
        <th>Active</th>
        <td th:text="${user.active}" /></td>
      </tr>
      <tr>
        <th>Zipcode</th>
        <td th:text="${user.zipcode}" /></td>
      </tr>
      <tr>
        <th>Telephone</th>
        <td th:text="${user.telephone}" /></td>
      </tr>
    </table>
  
    <a th:href="@{/user/update/${owner.id}}" class="btn btn-default">Editar Usuario</a>
      
    <a th:href="@{user/delete/${owner.id}}" class="btn btn-default">Eliminar Usuario</a>
  
    </body>
</html>
