<html 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

    th:replace="~{fragments/layout :: layout (~{::body},'rep')}">

    <body>
        <h2 th:text="Especialidades"></h2>
        <a th:text="#{confirmado}" th:href="@{/appointment/report/-1}" class="btn btn-default"/>
        <a th:text="#{noConfirmado}" th:href="@{/appointment/report/0}" class="btn btn-default"/>
        <span th:each="specialtie : ${allSpecialties}">
            <a th:text="${specialtie.name}" th:href="@{/appointment/report/__${specialtie.id}__}" class="btn btn-default"></a>
        </span>

    </body>
</html>
